body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.editor-preview {
    display: flex;
    flex: 1;
    overflow: hidden;
    width: 100vw;
}

.code-editor {
    flex: 1;
    border-right: 1px solid #ccc;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

#html-output {
    max-width: 50%;
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
    border-left: 1px solid #ccc;
    word-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
}

#markdown-input .CodeMirror {
    height: 100%;
    font-size: large;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: white;
}

.navbar h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-right: 10px;
}

.navbar #github-btn {
    margin-right: auto; /* Empuja el resto de los elementos a la derecha */
}

.navbar .nav-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .nav-options label,
.navbar .nav-options button,
#github-btn,
.navbar .nav-options span {
    font-size: 0.9rem;
    color: white;
    background: none;
    border: none;
    padding: 5px;
    margin: 0;
}

.navbar .nav-options select {
    background-color: #8a8888;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.navbar .nav-options option {
    color: black;
    background-color: white;
}

#custom-scale {
    width: 60px;
}

.navbar .nav-options button,
#github-btn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.navbar .nav-options button:hover,
#github-btn:hover {
    background-color: rgb(92, 91, 91);
    color: rgb(230, 230, 230);
}

.navbar .nav-options #convert-button {
    max-width: 100%;
}